.Toolbar {
    
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #096470;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-sizing: border-box;
    z-index: 90;
    font-family: 'Lobster', cursive;
    list-style-type: none;
    color: white;
    margin-top:0;
    padding-top:0;
}

.Link {
    text-decoration: 'none';
}

.Header {
    font-family: 'Lobster', cursive;
    color: gold;
    text-align: right;
    font-size: 35px;
    
    display: block;
}

/* font-family: 'Lobster', cursive;
font-family: 'Raleway', sans-serif; */