.NavigationItems {
    margin: 0;
    padding: 10%;
    list-style: none;
    display: flex;
    color: white;
    height: 100%;
    justify-content: space-between;
    width: 100%;
    flex-flow: column
}

.Logo {
    font-family: 'Lobster', cursive;
    color: gold;
    font-size: 30px;
    display: flex;
    margin-bottom: 32px;
}   

@media (min-width: 500px) {
    .NavigationItems {
        flex-flow: row;
    }

} 