.SingleNavItem { 
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    align-items: center;
    text-decoration: none;
    /* color: white;  */
    list-style-type: none;
    justify-content: space-between;
}