.SingleNavItem { 
    margin: 20px 0;
    box-sizing: border-box;
    display: block;
    height: 100%;
    text-decoration: none;
    list-style-type: none;
}

@media (min-width: 500px) {
    .SingleNavItem { 
        margin: 0;
        box-sizing: border-box;
        display: flex;
        height: 100%;
        align-items: center;
        text-decoration: none;
        /* color: white;  */
        list-style-type: none;
        
        width: auto;
    }
}